<div class="row">
    <h1 class="text-capitalize text-center alert-danger"> 
        Uh-oh...
    </h1>
</div>
<div class="row">
    <div class="grid-x">
    <div class="large-auto cell text">
        <h2>Something went wrong</h2>
        <p>
            You may be in a wierd place right now, but rest assured, we're working on it.
        </p>
    </div>
    <div class="large-auto cell">
        <div class="responsive-embed">
                <iframe src="https://giphy.com/embed/joV1k1sNOT5xC" width="420" height="315" frameBorder="0" allowFullScreen></iframe>
        </div>
    </div>
    <div class="large-auto cell"><%= link_to  "Go home", '/', class: 'button hollow button-success' %></div>
</div>

