/* Coolors Exported Palette - coolors.co/fbb900-9be564-d7f75b-7d451b-472c1b */

/* RGB */
$color1: rgba(251, 185, 0, 1);
$color2: rgba(155, 229, 100, 1);
$color3: rgba(215, 247, 91, 1);
$color4: rgba(125, 69, 27, 1);
$color5: rgba(71, 44, 27, 1);