/* Coolors Exported Palette - coolors.co/fbb900-9be564-d7f75b-7d451b-472c1b */

/* HSL */
$color1: hsla(44%, 100%, 49%, 1);
$color2: hsla(94%, 71%, 65%, 1);
$color3: hsla(72%, 91%, 66%, 1);
$color4: hsla(26%, 64%, 30%, 1);
$color5: hsla(23%, 45%, 19%, 1);

/* RGB */
$color1: rgba(251, 185, 0, 1);
$color2: rgba(155, 229, 100, 1);
$color3: rgba(215, 247, 91, 1);
$color4: rgba(125, 69, 27, 1);
$color5: rgba(71, 44, 27, 1);